.DS_Store
.idea/
__pycache__/
cifar-10-batches-py
coco_captioning
refer/
/cs231n/.ipynb_checkpoints/
cs231n/assignment3/cs231n/datasets/coco_captioning.zip
**/.ipynb_checkpoints
/mlcourse.ai/assignment/data/
tftest/nohup.out
